
<ion-content [fullscreen]="true">
  <div>
    <ion-icon name="arrow-back-outline" routerLink="" class="head bck"></ion-icon>
  </div>

  <div class="board">
    <p class="note">
      Browse through <br>
      <span class="em"><u>one</u> thousand</span> <br>
      movies, tv shows, animations, anime and documentary.
    </p>
  </div>

  <!-- categories of entertainment available -->
  <div class="category">
    <div class="cat movie">MOVIES</div>
    <div class="cat show">TV SHOWS</div>
    <div class="cat animation">ANIMATIONS</div>
    <div class="cat anime" routerLink="/anime">ANIME</div>
    <div class="cat documentary">DOCUMENTARY</div>
  </div>

</ion-content>
