<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="Icon">
      <ion-icon name="tv-outline" style="font-size:35px;" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="Icon">
      <ion-icon name="bookmark-outline" style="font-size:30px;" class="icon"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="Icon">
      <ion-icon name="search-outline" style="font-size:30px;" class="icon"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
