<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <div class="logo ion-margin-start" slot="start">
      <ion-icon name="play" style="font-size: 30px;" class="logo"></ion-icon>
    </div>
    <ion-title class="site-name">
      Bit-Box
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="board">
    <p class="note">
      Browse through <br>
      <span class="em"><u>one</u> thousand</span> <br>
      movies, tv shows, animations, anime and documentary.
    </p>
  </div>

  <!-- categories of entertainment available -->
  <div class="category">
    <div class="cat movie">MOVIES</div>
    <div class="cat show">TV SHOWS</div>
    <div class="cat animation">ANIMATIONS</div>
    <div class="cat anime">ANIME</div>
    <div class="cat documentary">DOCUMENTARY</div>
  </div>

  <!-- entertainment recommendations -->
  <h4>New to Bit-Box</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let new of news">
    <img src={{new.image}} alt="" class="newimg" />
      <!-- <p>{{movie.title}}</p> -->
    </div>
  </div>

  <!-- entertainment recommendations -->
  <!-- <h4>For You</h4>
  <div class="scroll-box">
    <div class="box">
        <img src="" alt="" class="" />
        <p>{{movie.title}}</p>
      </div>
  </div> -->

  <!-- entertainment recommendations -->
  <h4>Top Movies</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let movie of movies">
     <img src={{movie.image}} alt="" class="movieimg" />
      <!-- <p>{{movie.title}}</p> -->
    </div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Shows</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let show of shows">
      <img src={{shows.image}} alt="" class="showimg" />
       <!-- <p>{{movie.title}}</p> -->
     </div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Animations</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let animation of animations">
      <img src={{animation.image}} alt="" class="movieimg" />
      <!-- <p>{{animation.title}}</p> -->
    </div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Animes</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let anime of animes">
      <img src={{anime.image}} alt="" class="animeimg" />
       <!-- <p>{{movie.title}}</p> -->
     </div>
  </div>
</ion-content>
