<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <div class="logo ion-margin-start" slot="start">
      <ion-icon name="play" style="font-size: 30px;" class="logo"></ion-icon>
    </div>
    <ion-title class="site-name">
      Bit-Box
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- continue to watch you in-progress -->
  <!-- <h4>Continue Watching</h4>
  <table>
    <tr>
      <th>ID</th>
      <th>Origin</th>
      <th>Title</th>
      <th>Description</th>
      <th>Released Date</th>
      <th>Genre Category</th>
      <th>Movie Quality</th>
      <th>Duration</th>
    </tr>
    <tr *ngFor="let movie of movies">
      <td>{{movie.id}}</td>
      <td>{{movie.origin}}</td>
      <td>{{movie.title}}</td>
      <td>{{movie.description}}</td>
      <td>{{movie.released}}</td>
      <td>{{movie.genre}}</td>
      <td>{{movie.quality}}</td>
      <td>{{movie.length}}</td>
    </tr>
  </table> -->
  <!-- <div class="scroll-box" *ngFor="let movie of movies">
    <div class="box">{{movie.title}}</div>
  </div> -->

  <!-- categories of entertainment available -->
  <div class="category">
    <div class="cat movie">MOVIES</div>
    <div class="cat show">TV SHOWS</div>
    <div class="cat animation">ANIMATIONS</div>
    <div class="cat anime">ANIME</div>
    <div class="cat documentary">DOCUMENTARY</div>
  </div>

  <!-- entertainment recommendations -->
  <h4>New to Bit-Box</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let movie of movies">
      <p>{{movie.title}}</p>
    </div>
  </div>

  <!-- entertainment recommendations -->
  <h4>For You</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Movies</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let movie of movies">
      <p>{{movie.title}}</p>
    </div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Shows</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Animations</h4>
  <div class="scroll-box">
    <div class="box" *ngFor="let animation of animations">
      <p>{{animation.title}}</p>
    </div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Animes</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</ion-content>
