<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <div class="logo ion-margin-start" slot="start">
      <ion-icon name="play" style="font-size: 30px;"></ion-icon>
    </div>
    <ion-title>
      Bit-Box
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- continue to watch you in-progress -->
  <h4>Continue Watching</h4>
  <div class="scroll-box">
    <!-- <h4>{{user.name}}</h4> -->
    <div class="box"></div>
    <div class="box"></div>
    <!-- <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div> -->
  </div>

  <!-- categories of entertainment available -->
  <div class="category">
    <div class="cat">MOVIES</div>
    <div class="cat">TV SHOWS</div>
    <div class="cat">ANIMATIONS</div>
    <div class="cat">ANIME</div>
    <div class="cat">DOCUMENTARY</div>
  </div>

  <!-- entertainment recommendations -->
  <h4>New to Bit-Box</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <!-- entertainment recommendations -->
  <h4>For You</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Movies</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Shows</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Animations</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>

  <!-- entertainment recommendations -->
  <h4>Top Animes</h4>
  <div class="scroll-box">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
</ion-content>
