<ion-header [translucent]="true">
  <ion-toolbar class="head">
    <div class="logo ion-margin-start" slot="start">
      <ion-icon name="play" style="font-size: 30px;"></ion-icon>
    </div>
    <ion-title>
      Bit-Box
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="full">
  <form action="" class="form">
    <input type="text" title="search for your entertainment" class="search" placeholder="Search by title, character, or genre">
  </form>
</ion-content>
